/* Estilo general para la galería */
.galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* Espacio entre las imágenes */
    padding: 1rem;
}

.galery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen sin deformarla */
    object-position: center;
    /* Centra la imagen */
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Efecto de escala y sombra al hacer hover sobre la imagen */
.galery a:hover img {
    transform: scale(1.05);
    /* Escala de la imagen */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    /* Sombra más pronunciada */
}

/* Estilo base para el enlace dentro de la galería */
.galery a {
    position: relative;
    display: flex;
    /* Flexbox para centrar contenido */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    overflow: hidden;
    border-radius: 25px;
    height: 300px;
    width: 100%;
}

/* Estilo para el span con el botón */
.galery span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    display: grid;
    place-items: center;
    opacity: 0;
    background-color: rgba(71, 71, 71, 0.667);
    transition: opacity 0.3s ease;
}

.galery a:hover span {
    opacity: 1;
    /* Hace visible el texto al pasar el mouse */
}

.galery span p {
    color: #fff;
    font-size: 21px;
    font-weight: 800;
}

/* Efecto de desvanecimiento al hacer hover sobre el enlace */
.galery a:hover span {
    opacity: 1;
    /* Hacer visible el span */
    animation: fadeIn 0.6s ease-out;
    /* Aplicar animación fadeIn */
}

/* Animación de fadeIn */
@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Comienza completamente transparente */
    }

    100% {
        opacity: 1;
        /* Termina completamente opaco */
    }
}

/* Estilo específico para elementos dentro de galeryBody */
.galeryBody {
    z-index: -100;
    position: absolute;
    width: 100%;
}

.galeryBody h1 {
    padding-top: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.galeryBody .informacion {
    position: relative;
    z-index: 100;

    gap: 20px;
    padding: 20px;

}

.galeryBody h3 {
    padding-top: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.galeryBody p {
    padding-inline: 100px;
    font-size: 18px;
    padding-top: 10px;
}

.galeryBody .flex p {
    font-size: 40px;
}

.galeryBody .containerWave {
    height: 65vh;
    z-index: -100;
}

.galeryBody .containerWave .center {
    z-index: 100;
    position: relative;
}

.galeryBody .containerWave .center img {
    z-index: 1000;
    position: relative;
}

.galeryBody .wave::before {
    width: 83%;
    height: 109%;
    background-color: #f5f5f5;
    right: -8.5%;
    top: 90%;
}

.galeryBody .titles {
    font-size: 21px !important;
}

.galeryBody .wave::after {
    width: 87%;
    height: 100%;
    background-color: #1c1c1c;
    left: -8%;
    top: 11%;
}

/* Estilo para el carrusel */
.galeryCarrousel .carousel {
    margin-top: 9vh;
    height: 90vh !important;
}

.galeryCarrousel .carousel-item img {
    height: 90vh;
    width: auto;
}

.galeryCarrousel p {
    font-size: 21px;
    position: absolute;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.241);
    padding: 1%;
    border-radius: 5%;
}

.second {
    width: 20px;
    right: 25px !important;
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 768px) {
    .galery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* Ajustar la cantidad de columnas */
    }


    .galeryBody h1 {
        font-size: 27px;
    }

    .GaleryCarrouselImg {
        width: auto;
        height: 50vh !important;
    }

    .galeryBody .containerWave {
        height: 80vh;
        z-index: -100;
    }

    .galeryBody .wave::before {
        width: 83%;
        height: 109%;
        background-color: #f5f5f5;
        right: -8.5%;
        top: 90%;
    }

    .galeryBody .wave::after {
        width: 87%;
        height: 100%;
        background-color: #1c1c1c;
        left: -8%;
        top: 11%;
    }

    .galeryBody p {
        padding-inline: 10px;
        font-size: 16px;
    }

    .galeryBody .titles {
        font-size: 30px !important;
    }

    .galeryCarrousel .carousel-item img {
        height: 50dvh !important;
    }
}