html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.screen {
    height: 100rem;
    width: 100%;
    background-color: #2f4867;
}

.curved {
    position: relative;
    background: #2f4867;
    height: 95vh;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    z-index: 9999;
    background-size:cover;
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/XE3CZCLCOREFBF2LSJZSDFVGQY.jpg");
}

.curved .container {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.curved .container p {
    padding: 2%;
    padding-right: 10%;
}

.curved .container div {
    display: block
}

.curved .container img {
    height: 21rem;
    padding: 5%;

}

.curved .container button {
    display: flex;
    place-items: center;
    height: 60px !important;
    width: 90%;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 5%;
}

.curved .container button ion-icon {
    margin-right: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.bg-lightWhite {
    padding: 2%;
    background-color: #ffffffbb;
    height: 30rem;

}
.padding{
    padding-left: 50px;
}



.home{
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/XE3CZCLCOREFBF2LSJZSDFVGQY.jpg");
    height: 40rem;
    background-size: cover ;
}


.nav {
    padding: 0px 5rem;
    height: 4rem;
    margin: 0px;
    overflow: hidden; /* Oculta el contenido que excede el tamaño */
  }
  
  .nav h1 {
    padding: 0px;
  }
  
  .nav img {
    height: 3rem;
    width: 3rem;
  }
  
  .nav .hidden {
    width: 0px;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    position: absolute;
  }
  
  .nav .show {
    width: 15rem;
    opacity: 1;
    text-align: end;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 1rem;
    padding-right: 2rem;
    background-color: #fffcfe;
    transition: width 0.3s ease, opacity 0.3s ease;
    height: 100%;
  }
  
  /* Animación de fade out */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 0px; /* Aseguramos que se oculte completamente */
    }
  }
  
  .nav.fade-out {
    animation: fadeOut 0.3s ease forwards;
  }
  
  .nav ul {
    list-style: none;
    padding-right: 3rem;
  }
  
  .nav ul li {
    margin: 1rem 0rem;
    font-size: 13px;
    
  }

  .nav ul{
    display: grid;
  }
  .nav button{
    background-color: #fffcfe;
    border: 0px;
  }
  