/* Estilos generales */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Estilo de pantalla */
.screen {
  height: 100vh;
  width: 100%;
  background-color: #12345d;
}

/* Estilo de la sección curva */
.curved {
  position: relative;
  background: #12345d;
  height: 95vh;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  z-index: 9999;
  background-size: cover;
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/XE3CZCLCOREFBF2LSJZSDFVGQY.jpg");
}

/* Estilos del contenido dentro del contenedor curvado */
.curved .container {
  padding-top: 2%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.curved .container p {
  padding: 2%;
  padding-right: 10%;
}

.curved .container div {
  display: block;
}

.curved .container img {
  height: 21rem;
  padding: 5%;
}

.curved .container button {
  display: flex;
  place-items: center;
  height: 60px !important;
  width: 90%;
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 5%;
}

.curved .container button ion-icon {
  margin-right: 10px;
}

/* Estilos generales de flexbox */
.flex {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Estilos de fondo blanco */
.bg-lightWhite {
  padding: 2%;
  background-color: #ffffffbb;
  height: 30rem;
}

/* Estilos de padding */
.padding {
  padding-left: 50px;
}

/* Estilos de la sección Home */
.home {
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/XE3CZCLCOREFBF2LSJZSDFVGQY.jpg");
  height: 100vh;
  background-size: cover;
}

.home .container {
  height: 76vh;
}

.modal,
.modal-backdrop {
  z-index: 999999999999999999;
}

/* Estilos de la barra de navegación */
.nav {
  padding: 1rem 2rem;
  height: 5rem;
  margin: 0px;
  margin-bottom: 2rem;
  overflow: hidden;
  position: sticky;
  display: flex;
  place-items: center;
  z-index: 999999999999;
}

.flexPhone img {
  height: 7rem !important;
  padding: 5%;
  margin-inline: 0%;
}

.nav h1 {
  padding: 0px;
}

.categorys {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 20rem;
  margin-top: 10px;
  font-size: 18px;
  color: #12345d;
  font-weight: 600;
}

.categorys input {
  width: 20px !important;
  height: 20px;
}

.nav img {
  height: 3.5rem;
  width: 3.5rem;
}

.nav .hidden {
  width: 0px;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 0px;
  right: 0px;
}

.nav .show {
  width: 15rem;
  opacity: 1;
  text-align: start;
  position: fixed;
  top: 0px;
  right: 0px;
  padding-top: 1rem;
  padding-right: 2rem;
  background-color: #fffcfef0;
  transition: width 0.3s ease, opacity 0.3s ease;
  height: 100%;
}

/* Animación de fade out */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 0px;
  }
}

.nav.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.nav ul {
  list-style: none;
  padding-right: 3rem;
}

.nav ul li {
  margin: 1rem 0rem;
  font-size: 13px;
}

.nav ul li a {
  text-decoration: none;
  color: #12345d;
  font-size: 15px;
  padding-right: 10px;
  transition: all 0.3s ease;
}


.nav ul li a:hover {
  color: #12345d;
  font-size: 17px;
}

.nav ul {
  display: grid;
}

.nav button {
  background-color: #2f486700;
  color: #fffcfe;
  border-width: 0px;
  transition: all;
}

.nav button:hover {
  color: #12345d;
}

.nav .show button,
.nav .hidden button {
  border-width: 0px;
  color: #000000;
}

/* Estilos del contenido dentro de Home */
.home h2 {
  font-size: 35px;
  max-width: 40rem;
  margin: 4rem 0rem 0rem 0rem;
}

.home p {
  color: #051b36;
  font-weight: 600;
  text-transform: none;
  font-size: 25px;
  max-width: 20rem;
  margin-top: 2rem;
}

.home .content {
  display: flex;
  align-items: end;
  place-items: center;
  height: 25vh;
}

.content button {
  width: 10rem;
  height: 3rem;
  background-color: #2f4867;
  border: #051b36;
}

.content button:hover {
  background-color: #051b36;
}

.content div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0rem 4rem;
}

.content div ion-icon {
  color: #fffcfe;
  padding: 5px;
  border-radius: 5px;
  background-color: #12345d;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.content div ion-icon:hover {
  color: #fffcfe;
  transform: scale(1.2);
  background-color: #051b36;
}

/* Estilos de la sección de ofertas */
.containerWave {
  position: relative;
  background: #12345d;
  height: 110vh;
}

.containerWave .experience-card {
  width: 75%;
  margin: 1rem 12.5%;
  height: 80vh;
  border-radius: 5px;
}

.containerWave .experience-card p {
  height: 65%;
}

.containerWave .experience-card img {
  padding: 0px;
}

.containerWave .experience-card div {
  left: 0rem;
  top: 0rem;
  background-color: #2c3e5062;
  padding: 2rem;
}


.wave {
  position: absolute;
  height: 145px;
  width: 100%;
  background: #12345d;
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}

.wave::after {
  width: 55%;
  height: 100%;
  background-color: #12345d;
  left: -1.5%;
  top: 40%;
}

.containerWave .carousel {
  z-index: 999999;
}



.containerWave .carousel-control-prev,
.containerWave .carousel-control-next {
  top: -80px;
}

.containerWave .carousel-control-prev-icon,
.containerWave .carousel-control-next-icon {
  border-radius: 100%;
  background-color: #12345d !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  background-size: 25px !important;
}

.containerWave .carousel-indicators {
  bottom: -30px;
}

.containerWave .deleteImage {
  text-align: start;
  width: 80%;
  margin: 0% 10%;
}

.offersBody {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem 10rem;
  padding: 2.5rem !important;
}

.offersBody img {
  width: 80% !important;
}

.tached {
  text-decoration: line-through;
}

.deleteImageBody p:first-child {
  text-decoration: line-through;
}

.containerWave .bg-lightWhite {
  padding: 3%;
  background-color: #ffffff00;
  height: 100%;
  max-width: 22rem;
}

.containerWave .bg-lightWhite .parraf {
  height: 65%;
}

.containerWave .flex {
  justify-content: space-around;
  margin: 0px 20px;
}

.deleteImage .parraf {
  margin: 0;
  height: 10rem;
}

.bg-whitee {
  background-color: #ffffffbb;
  border-radius: 5px;
  padding: 1%;
}

.phone {
  display: none;
}

/* Experiencias */
.experience {
  margin-top: 10rem;
}

.experienceBody {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1rem;
  margin: 0px 1rem;
}


.experience p {
  padding: 0rem 2rem;
}

.experience img {
  width: auto;
}

.formExperiences {
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
}

.formExperiences p {
  font-size: 18px;
  padding: 0px 10px;
  font-weight: 600;
}



.experienceBody .container {
  position: relative;
  padding: 1%;
  padding: 0px 10%;
}

.experience-card {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: border-radius 0.3s ease;
}


.experience-card .flex {
  justify-content: start;
  gap: 10px;
}

.experience-card p {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.containerWave .experience-card a {
  background-color: #12345d;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

}




.experience-card a:hover {
  background-color: #acacac;
  color: #12345d;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Ajusta la distancia desde arriba según tus necesidades */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo base de la clase .info */
.info {
  position: absolute;
  top: 0;
  opacity: 0;
  /* Oculta el elemento inicialmente */
  transition: opacity 0.3s ease;
  /* Transición suave para la opacidad */
  z-index: 10000;
  width: 100%;
  height: 110%;
  background-color: #47474774;
}

/* Aplica la animación al hacer hover */
.info:hover {
  animation: fadeInTop 0.6s ease-out;
  /* Ajusta la duración y el tipo de easing según lo desees */
  opacity: 1;
  /* Asegúrate de que la opacidad sea 1 durante el hover */
}

.experience-card img {
  position: absolute;
  /* Posiciona la imagen absolutamente dentro del contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Asegura que la imagen cubra todo el contenedor */
  transition: transform 0.3s ease;
  /* Transición suave para el zoom */
  z-index: 0;

}


.experience-card div {
  position: absolute;
  /* Posiciona la imagen absolutamente dentro del contenedor */
  z-index: 99999999999999999999;
  bottom: 0;
  left: 0;
  text-align: start;
  background-color: #33333374;
  width: 100%;
  padding-top: 5px;
}

.experienceBody .experience-card .flex {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
}

.experienceBody .experience-card a {
  background-color: #12345d;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  z-index: 99999;
}

.experienceBody .experience-card a:hover {
  background-color: #acacac;
  color: #12345d;
}

.containerWave .experience-card p {
  height: 50%;
}

.experience-card:hover img {
  transform: scale(1.1);
  /* Aumenta el tamaño de la imagen en un 20% */
}

.experienceBody .container img {
  width: 100%;
}

.experienceBody .grid {
  padding: 0px 5rem;
}

.experienceBody .grid p {
  padding: 0px;
}

.formExperiences input {
  width: 12rem;
}

.formExperiences select {
  width: 20rem;
}


/* quienesSomos */
.quienesSomos div {
  display: flex;
  padding: 0.5rem 2rem;
}

.quienesSomos div img {
  width: 100%;
  height: 15rem;
  padding: 0.5rem;

}

.quienesSomos div p {
  padding: 1rem 1rem;
  max-width: 60rem;
  font-size: 19px;
}

.quienesSomos .logo {
  width: 17rem !important;
  height: 15rem;
  padding: 0rem !important;
}



/* Contact */
.contact {
  transform: rotate(180deg);
  height: 115vh !important;
  margin-top: 100px;
}

.contactBody {
  transform: rotate(180deg);

}

.contactDiv2 {
  display: grid;
  place-items: center;
}

.contact .form-label {
  color: #fffcfe;
}

.contactBody img {
  width: 40%;
  height: 80%;
}

.formError {
  height: 2rem;
}

@media (max-width: 768px) {

  /* Sign In */
  .curved {
    position: relative;
    background: #12345d;
    height: 95vh;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    z-index: 9999;
    background-size: cover;
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/XE3CZCLCOREFBF2LSJZSDFVGQY.jpg");
  }

  .padding {
    padding: 0% 2%;
  }

  .experience-card img {
    width: 100% !important;
    height: 30rem !important;
  }

  /* Estilos del contenido dentro del contenedor curvado */
  .curved .container {
    padding-top: 2%;
    display: block;
    grid-template-columns: none;

  }

  .curved .container h1 {
    padding-top: 1%;
    font-size: 25px;
    text-align: center;
  }

  .curved .container p {
    font-size: 14px;
    padding: 1% 3%;
  }

  .bg-lightWhite {
    height: 20rem;
  }

  .curved .container img {
    height: 8rem;
    padding: 0px;
  }

  .flexPhone {
    display: grid !important;
    grid-template-columns: 1fr 4fr;
    height: 15rem !important;
    align-items: center;
    place-items: center;

  }

  .curved .container button {
    font-size: 15px;
  }

  .formExperiences {
    display: block;

  }

  .formExperiences .form-select {
    width: 100%;
  }

  .home h2 {
    font-size: 30px;

  }

  .content button {
    font-size: 15px;
  }

  .content div {
    margin-left: 0px;
    padding: 1.5rem;
    padding-top: 30px;
  }



  .offersBody p,
  .offersBody h3 {
    margin: 0% 10%;
  }


  .offersBody div div p {
    font-size: 19px;
    margin: 0% 2%;
  }



  .containerWave .carousel-control-prev,
  .containerWave .carousel-control-next {
    top: 50px;
  }


  .experienceBody {
    grid-template-columns: 2fr;
  }

  .galery {
    columns: 2 !important;
    padding: 20px;
    /* Espacio entre las imágenes */
  }

  .galeryCarrousel .titles {
    font-size: 20px !important;
  }

  .galeryCarrousel .carousel-indicators {
    bottom: 150px;
  }

  .galeryCarrousel .carousel-item img {
    height: 20rem !important;
    width: 20rem !important;
  }

  .experience img {
    width: 80%;
    height: 20rem;
  }

  .experienceBody .container {
    padding: 0rem;

  }

  .experienceBody .carousel-indicators {
    bottom: 0px;
  }


  .quienesSomos div img {
    width: 100%;
    height: 6rem;
    padding: 0.5rem;

  }

  .quienesSomos .logo {
    width: 100% !important;
    height: 7rem !important;
    padding: 0.5rem !important;
    margin: 0%;
    margin-top: 1rem;
  }

  .quienesSomos {

    padding-top: 3rem;
  }

  .quienesSomos div {
    display: block;
    padding: 0.5rem 0rem;
  }


  .quienesSomos div p {
    padding: 1rem 3rem;
    max-width: 40rem;
    font-size: 17px;
  }

  .quienesSomos div img {
    width: 90%;
    margin: 0% 5%;
    padding: 1rem 2.5rem
  }

  .mx-5 {
    margin: 0rem !important;
  }

  .mt-5 {
    margin-top: 0rem !important;
  }

  .contact {

    margin-top: 300px;
  }

  .contactBody img {
    width: 80px;
    height: 80px;
  }

  .contactDiv2 {

    display: none;
  }

  .contactDiv2 p {
    padding: 0px !important;
  }

  .contactDiv2 img {
    width: 6rem !important;
    height: 6rem !important;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }


  .containerWave {
    position: relative;
    background: #12345d;
    height: 130vh;
  }

  .offersBody {
    display: block;
    margin: 1rem 1rem;
    grid-template-columns: 0rem;

    padding: 1.5rem !important;
  }



  .pc {
    display: none;
  }

  .phone {
    height: 15rem !important;
    display: block;
  }


  .nav h1 {
    padding-top: 10px;
    font-size: 25px;
  }

  .subtitles {
    font-size: 21px !important;
  }


  .titles {
    font-size: 25px !important;
  }

  .home .content {
    margin-top: 15%;
  }



  .categorys {
    grid-template-columns: 1fr 1fr;
    text-align: start;
  }

  .categorys input {
    width: 20px !important;
    height: 20px;
  }
}