body{
    overflow-x: hidden;
}
.titles {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 21px;
    text-transform: uppercase;
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 5%;
}

.fontLarge{
    font-size: 35px;
}
.fontMid{
    font-size: 30px;
}

.subtitles {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;

}

.center{
    text-align: center;
    align-items: center;
    
}
.blue{
    color: #2f4867;
}
.white{
    color: #fffcfe;
}